{% set 
products = [
	{
		item_name: 'Leather bag',
		item_price: '$78',
		item_category: 'Bag',
		item_img: './././img/bag.png'
	},
	{
		item_name: 'Gift box colors',
		item_price: '$78',
		item_category: 'Gift',
		item_img: './././img/box.png'
	},
	{
		item_name: 'Flyknit lunar 3',
		item_price: '$78',
		item_category: 'Runing Shoes',
		item_img: './././img/plyknit.png'
	},
	{
		item_name: 'Wallets leather',
		item_price: '$78',
		item_category: 'Accessories',
		item_img: './././img/wallet.png'
	},
	{
		item_name: 'Shoes men',
		item_price: '$78',
		item_category: 'Runing Shoes',
		item_img: './././img/shoes.png'
	}
]
%}
{% set
images = [
	{
		img: './././img/bag-small.png'
	},
	{
		img: './././img/bag-small_2.png'
	}
] 
%}
{% set
menu = [
	{
		link: 'Home'
	},
	{
		link: 'Products'
	},
	{
		link: 'Lookbook'
	},
	{
		link: 'Collection'
	}
]
%}